[Desktop Entry]
Version=1.0
Name=CivicNet Core
Comment=Connect to the CivicNet P2P Network
Comment[de]=Verbindung mit dem CivicNet Peer-to-Peer-Netzwerk herstellen
Comment[es]=Conectar a la red P2P de CivicNet
Comment[fr]=Se connecter au réseau pair à pair CivicNet
GenericName=Cryptocurrency Wallet
Exec=civicnet-qt %u
Terminal=false
Type=Application
Icon=civicnet128
MimeType=x-scheme-handler/civicnet;
Categories=Office;Finance;Network;
Keywords=civicnet;crypto;cryptocurrency;wallet;blockchain;
StartupNotify=true
StartupWMClass=CivicNet-qt
